<footer class="footer">
  <div class="group">
  	<p>&copy; Copyright 2014–present <em>Permission to Appeal</em>. Built with <span class="footer__heart">♥</span> and <%= link_to "Middleplate", "https://github.com/robsterlini/middleplate", title: "Fork Middleplate on Github" %> by <%= link_to "Rob Sterlini", "https://robsterlini.co.uk", title: "Visit Rob’s site", rel: "nofollow" %>.
  </div>
</footer>