/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin:0 auto;
	max-width:$layout-max-width-wide-unit;
	width:93.75%;

}

.wrapper {
  background:$color-white;
  flex:1;
  overflow: hidden;
  padding: $masthead-hamburger 0 $measure-unit * 3;
  position: relative;
  width: 100%;
  z-index: $z-wrapper;
  @include min-width($tp-masthead-hamburger) {
    padding-top: $masthead-fixed;
  }
}

hr {
  margin: $measure-unit * 4 auto $measure-unit * 3;
  max-width: rem($layout-max-width /2);
  outline: none;
  border: 0;
  border-top: rem(2) lighten($color-accent, 30%) solid;
  p + & {
    margin-top: rem(60);
  }
}