/**
 * Footer SCSS Partial
 *
 */

/* ==|== Footer =================
	General
========================================== */

.footer {
.section--contact {
  background-image: url(../images/hero/footer.jpg);
  overflow: hidden;
  padding: $measure-unit * 1 0 $measure-unit * 5;
  // @include min-width($bp-mid) {
  //   padding: $measure-unit * 3 0 $measure-unit * 6;
  // }
  @include min-width($bp-small) {
    padding: $measure-unit * 2 0 $measure-unit * 7;
  }
  @include min-width($bp-mid) {
    padding: $measure-unit * 4 0 $measure-unit * 8;
  }
}

}