/**
 * Hero SCSS Partial
 *
 */

/* ==|== Hero =================
	General
========================================== */

.hero {
	background-color: $color-black;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba($color-black,0), $color-black), url(../images/hero/hero.jpg);
	background-size: cover, cover;
	color: $color-white;
	overflow: hidden;
	padding: $measure-unit * 16 0 $measure-unit * 2;
	.flexbox & {
		display: flex;
		min-height: $measure-unit * 60;
		.group {
			margin-top: auto;
		}
	}
}