/**
 * Masthead SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss
 */

/* ==|== Masthead =================
	General
========================================== */

.masthead {
	background: $color-black;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-masthead;
}

/* ==|== Masthead =================
	Logo
========================================== */

.masthead__logo {
	margin: $measure-unit * 2 auto $measure-unit;
	max-width: $layout-max-width-unit;
}