/**
 * Masthead SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss
 */

/* ==|== Masthead =================
	General
========================================== */

.masthead {
	background: rgba($color-masthead, 0.85);
	left: 0;
	padding: $measure-unit 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $z-masthead;
	.group {
		position: relative;
	// }
	// @include min-width($tp-masthead-hamburger) {
		// .group {
			.flexbox & {
				display: flex;
				justify-content: space-between;
			}
		}
	// }
	@include min-width($bp-small) {
		position: fixed;
	}
}

/* ==|== Masthead =================
	Logo
========================================== */

// .masthead__logo {
// 	background-position: 0 84%;
// 	line-height: $measure-unit * 2;
// 	margin: auto 0;
// 	max-width: $layout-max-width-unit;
// }