/**
 * Masthead SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss
 */

/* ==|== Masthead =================
	General
========================================== */

.masthead {
	background: $color-black;
	left: 0;
	padding: $measure-unit 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-masthead;
	.group {
		position: relative;
	}
	@include min-width($tp-masthead-hamburger) {
		.group {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* ==|== Masthead =================
	Logo
========================================== */

.masthead__logo {
	line-height: $measure-unit * 2;
	margin: auto 0;
	max-width: $layout-max-width-unit;
}