/**
 * Navigation SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss,
 *           modules/_lists.scss
 */

/* ==|== Navigation =================
  General
========================================== */

.nav {
  .flexbox & {
    flex: 1;
    margin: auto 0;
  }
}
.nav__list {
  max-width: none;
  margin: 0;
  padding: 0 0 $measure-unit / 2;
  @include min-width($tp-unstack-masthead) {
    padding-bottom: rem(4);
    margin-right: $measure-unit; 
  }
}
.nav__item {
  // @include min-width($tp-masthead-hamburger) {
    display: inline;
  	& + li {
      &:before {
        color: $color-accent;
        content:' • ';
        display: inline-block;
        font-size: 0.7em;
        padding: 0 rem(2);
        position: relative;
        top: rem(-3);
        vertical-align: middle;
      }
    // }
  }
}
[class^="nav__link--"] {
	
}

/* ==|== Navigation =================
  Menu button
========================================== */
// $nav-btn-height: rem(42);
// $nav-height: rem(32);
// .nav__toggle {
//   margin: 0;
//   position: absolute;
//   right: 0;
//   top: ($nav-height / 2) - ($nav-btn-height / 2);
// 	@include min-width($tp-masthead-hamburger) {
// 		display: none;
// 	}
// }
// .nav__toggle__btn {
//   margin: 0;
// }

/* ==|== Navigation =================
  Booking button
========================================== */

.nav__btns {
  margin: auto 0;
  .btn {
    line-height: rem(22);
    margin: 0;
    vertical-align: middle;
    // &[href*="fb.com"] {
      @include hover {
        border-color: $color-white;
        color: $color-white;
        fill: $color-white;
      }
    // }
    & + .btn {
      margin-left: $measure-unit / 2;
    }
  }
}
.btn--booking {
  background: $color-white;
  border-color: $color-white;
  color: $color-black;
  // margin: 0;
  // @include hover {
    // background: transparent;
    // border-color: $color-white;
    // color: $color-white;
  // }
}