/**
 * Navigation SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss,
 *           modules/_lists.scss
 */

/* ==|== Navigation =================
  General
========================================== */

.nav {
  flex: 1;
}
.nav__list {
  max-width: none;
  padding: 0;
}
.nav__item {
  @include min-width($tp-masthead-hamburger) {
    display: inline;
  	& + li {
      &:before {
        color: $color-accent;
        content:' • ';
      }
    }
  }
}
[class^="nav__link--"] {
	
}

/* ==|== Navigation =================
  Menu button
========================================== */
// $nav-btn-height: rem(42);
// $nav-height: rem(32);
// .nav__toggle {
//   margin: 0;
//   position: absolute;
//   right: 0;
//   top: ($nav-height / 2) - ($nav-btn-height / 2);
// 	@include min-width($tp-masthead-hamburger) {
// 		display: none;
// 	}
// }
// .nav__toggle__btn {
//   margin: 0;
// }

/* ==|== Navigation =================
  Booking button
========================================== */

.nav__btns {
  margin: 0;
}
.btn--booking {
  margin: 0;
}