/**
 * Sound SCSS Partial
 *
 */

/* ==|== Sounds =================
	Section
========================================== */

.section--sounds {
	background: $color-white url(../images/hero/sounds.jpg) center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-bottom: $measure-unit * 2;
}

/* ==|== Sounds =================
	Grid
========================================== */

.sound {
	@include min-width($bp-tiny + 100) {
		display: inline-block;
		margin: $measure-unit 0;
		vertical-align: bottom;
		width: calc(50% - #{$measure-unit});
		&:nth-of-type(2n-1) {
			margin-right: $measure-unit * 2;
		}
	}
	@include min-width($bp-small + 100) {
		width: calc(33.33% - #{$measure-unit * 4 / 3});
		&:nth-of-type(n) {
			margin-right: $measure-unit * 2;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
	audio {
		display: block;
		width: 100%;
	}
}
